.rank_img {
    width: 25px;
    float: right;
}

.rank_img_leaderboard {
    width: 25px;
    float: center;
}
.dropdown-menu {
    width: 100%;
}

.myH1 {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.leaderboard {
    padding-top: 30vh;
    display: inline-block;
    width: 100%;
}

.home {
    background-color: white;
    color: black;
    z-index: 1;
}

.inline {
    display: inline;
}

.stats {
    font-size: 15px;
    padding: 5px;
    line-height: 15px;
    font-weight: bold;
}

body {
    // background-color: #2e2e2e !important;
    background: url("/images/bg.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.latest_duels {
    padding-top: 10vh;
    display: block;
}

.duel_winner {
    color: rgb(240, 240, 240) !important;
    display: inline;
    font-family: "Saira Stencil One", cursive;
    font-size: 30px;
}

@media (max-width: 600px) {
    .duel_winner {
        font-size: 25px;
    }
    .duel_loser {
        font-size: 25px;
    }
    .vsIcon {
        width: 10px;
    }
}

@media (max-width: 800px) {
    .logo {
        display: none;
    }
    .logoText {
        display: none !important;
    }
    #eloBadge {
        display: none;
    }
    #donatedBadgeCoin {
        display: none;
    }
    .latestDuelElo {
        display: none;
    }
    .latestDuelFlag {
        display: none;
        visibility: hidden;
    }
}

.duel_loser {
    color: rgb(255, 255, 255) !important;
    display: inline;
    font-family: "Saira Stencil One", cursive;
    font-size: 30px;
}

.vsIcon {
    float: center;
    width: 50px;
}

.underDesc {
    color: #2e2e2e;
    font-weight: 10;
}

.landingCardsText {
    font-family: "Muli", sans-serif;
}

.golden_account {
    font-weight: bold;
    color: gold !important;
}
