.rank_img {
    width: 25px;
    float: right;
}

.rank_img_leaderboard {
    width: 25px;
    float: center;
}
.dropdown-menu {
    width: 100%;
}

.myH1 {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.leaderboard {
    padding-top: 30vh;
    display: inline-block;
    width: 100%;
}

.home {
    background-color: #fcba03;
    z-index: 1;
}

.inline {
    display: inline;
}

.stats {
    font-size: 15px;
    padding: 5px;
    line-height: 15px;
    font-weight: bold;
}

body {
    background-color: #2e2e2e !important;
}

.latest_duels {
    padding-top: 30vh;
    display: block;
}

.duel_winner {
    color: red !important;
    display: inline;
}

@media (max-width: 600px) {
    .duel_winner {
        font-size: 25px;
    }
    .duel_loser {
        font-size: 25px;
    }
    .vsIcon {
        width: 10px;
    }
}

.duel_loser {
    color: green !important;
    display: inline;
}

.vsIcon {
    float: center;
    width: 50px;
}
