.rank_img {
    width: 25px;
    float: right;
}

.rank_img_leaderboard {
    width: 25px;
    float: center;
}
.dropdown-menu {
    width: 100%;
}

.myH1 {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.leaderboard {
    padding-top: 50vh;
    display: inline-block;
    width: 100%;
}

.home {
    background-color: #fcba03;
}

.inline {
    display: inline;
}

.stats {
    font-size: 15px;
    padding: 5px;
    line-height: 15px;
    font-weight: bold;
}

body {
    background-color: #2e2e2e !important;
}
